<!DOCTYPE html>
<html lang="en" ng-app="myapp" ng-controller="myCtrl">
<head>
	  <meta charset="utf-8" />
  <title>Angular Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
    <!-- jQuery -->
  <script src="vendor/jquery/jquery.min.js"></script>

  <!-- Angular -->
  <script src="vendor/angular/angular.js"></script>
</head>
<body >
	<div class="app" id="app" >
		结果是{{ 5 + 5 }}
		<ul ng-init="names=[{'name':'nihao','country':'haha'},{'name':'nihaor','country':'hahae'}]">
		  <li ng-repeat="x in names">
		    {{ x.name + ', ' + x.country }}
		  </li>
		</ul>
		<div>
			{{x1+x2}}
			<input ng-model='x3'/>
		</div>
		<div run-fun ng-click='reset()'></div>
		<div>
			<ul class="phones">
	          <li ng-repeat="phone in phones"  class="thumbnail">
	            <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}" href='{{phone.link}}'></a>
	            <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
	            <p>{{phone.snippet}}</p>
	          </li>
	        </ul>
		</div>
	</div>

<script type="text/javascript">
	var app = angular.module("myapp",[]);
	app.controller("myCtrl",function($scope,$http){
		$scope.x1 = "nihaor";
		$scope.x2 = "dedede";
		$scope.reset = function(){
			$scope.x3 = $scope.x2+$scope.x1;
		};
		 $http({
      method: 'post',
      url: "test-phones.php",
      data: {
                'type' : 'save_user' 
            },
      headers: {'Content-Type': 'application/x-www-form-urlencoded'}
    }).success(function(data){
    	$scope.phones = data;
    })
		// $http.get("test-phones.json").success(function(data){
		// 	$scope.phones = data;
		// });
	});
	app.directive("runFun",function(){
		return {
			restrict:"AE",
			template:"自定义标签{{names[0]}}"
		};
	});
</script>
</body>
</html>